@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root
{
    font-family: sans-serif, 'calibri', 'times new roman';
}

::-moz-selection 
{
    background: rgba(75, 78, 137, 0.2);
}
  
::selection 
{
    background: rgba(75, 78, 137, 0.2);/*rgba(104, 110, 186, 0.2);*/
}

html
{
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
	background: linear-gradient(#456fc4, #c1915e);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

header .logo {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
    transition: background 0.6s;
}

header ul li a.notadded {
	color: #d0d0d0;
}

header ul li a:hover:not(.notadded),
header ul li a.active {
    background: #ffffff;
    color: #393939;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section ul {
	margin-bottom: 1vh;
	display: flex;
    justify-content: center;
    align-items: center;
}

section ul li {
    list-style: none;
	display: flex;
    justify-content: center;
    align-items: center;
}

section ul li a {
	display: block;
	text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
}

section ul li a:hover {
	color: #c1c1c1;
}

#title {
	margin-bottom: 30vh;
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    font-size: 6vw;
    z-index: 2;
}

#definition {
	margin-bottom: 30vh;
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    font-size: 3vw;
    z-index: 2;
}

#input {
	box-sizing: border-box;
	padding-left: 10px;
	border-radius: 25px;

	border: 3px solid #ccc;	
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

#input:focus {
	border: 3px solid rgb(152, 152, 152);
}

#list {
	text-decoration: none;
    display: inline-block;
    padding: 5px 18px;
    font-size: 1.5em;
    transform: translateY(100px);
    z-index: 2;
}

#button {
	margin-bottom: 15vh;
	width: 7vw;
	height: 4vh;
	border-radius: 10px;
	border-color: rgb(255, 255, 255);
	background-color: #ffffff;
	border: 100px;
}

#button:hover {
	background-color: #e7e4e4;
}

#button:active {
	background-color: #cdcdcd;
}

section ul li input {
	margin-bottom: 2vh;
	height: 6vh;
}

a.notadded {
	color: #d0d0d0;
}